img {
  max-width: 100%;
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
  img {
    height: 250px;
    object-fit: contain;
  }
}

@media screen and (min-width: 64em) {
  img {
    height: 250px;
    object-fit: contain;
  }
}
