<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu" />
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
    </a>
    <div class="cart">
      <a href="">
        <span><i class="fa-solid fa-cart-shopping"></i></span>
      </a>
      <span class="counter">{{ counter }}</span>
    </div>
  </div>
  <!-- si la clase [class.active] esta en true la dispara sino la esconde-->
  <div class="slide-menu" [class.active]="activeMenu">
    <ul>
      <li>CATEGORIES</li>
      <li>
        <a routerLinkActive="active" routerLink="home" (click)="toggleMenu()"
          >All</a
        >
      </li>
      <li *ngFor="let item of categories" (click)="toggleMenu()">
        <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{
          item.name
        }}</a>
      </li>
    </ul>
    <button (click)="toggleMenu()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" routerLink="home">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="home">All</a></li>
        <li *ngFor="let item of categories">
          <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{
            item.name
          }}</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="acount">
        <button *ngIf="!profile; else elseBlock" (click)="login()">
          Sign in
        </button>
        <hr />
        <div *ngIf="!profile">
          <button id="register">
            <a routerLinkActive="active" routerLink="register">Sign up</a>
          </button>
        </div>
        <ng-template #elseBlock>
          <a routerLink="/profile">{{ profile?.email }}</a>
        </ng-template>
        <div *ngIf="profile">
          <button id="logout" (click)="logout()">Logout</button>
        </div>
      </div>
      <div class="cart">
        <a>
          <span><i class="fa-solid fa-cart-shopping"></i></span>
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>

<!-- <app-login-modal
  *ngIf="modalSwitch"
  (modalSwitch)="openModal($event)"
></app-login-modal> -->

<!--
  Con el counter mostramos cuantos elementos hay en el shopping cart de forma reactiva.
  En el div de acount utilizo un boton para hacer login, Si NO hay profile me muestra el boton Login pero si ya existe uno
  deberiamos tener el profile.email

  Se hace un render dinamico del array de categorias desde el nav usando property binding con [routerLink] y especificamos
  en forma de [] como es la url[/category, item.id].
  se imprime el nombre de cada categoria item.name.

  Se crea un estado active en scss y le decimos que cuanto este activo con routerLinkActive
  (coincida con la ruta de categoria) se muestre ese estilo.

-->
