<div class="form-register">
  <div (click)="goToBack()" class="close-icon">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <h2>My Account</h2>
  <form>
    <label for="name">Name</label>
    <input name="name" type="text" placeholder="Camila Yoko" required />
    <label for="email">Email address</label>
    <input
      name="email"
      type="email"
      placeholder="camilayokoo@gmail.com"
      required
    />
    <label for="password">Password</label>
    <input name="password" placeholder="*********" type="password" required />
    <button type="submit">Create user</button>
  </form>
</div>
