<a [routerLink]="['/products', product.id]">
  <app-img
    *ngIf="product.images.length > 0"
    [img]="product.images[0]"
  ></app-img>
</a>
<div class="container-details">
  <h2>{{ product.price | currency }}</h2>
  <p>{{ product.title }}</p>
  <p class="category">{{ product.category.name }}</p>
</div>
<div class="container-buttons">
  <!-- <button (click)="onShowDetail()">Details</button> -->
  <a routerLink="." [queryParams]="{ product: product.id }">Ver detalle</a>
  <button (click)="onAddToCart()">
    <img src="../../../assets/svg/bt_add_to_cart.svg" alt="" />
  </button>
</div>
