<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu" />
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
    </a>
    <div class="cart">
      <a href="">
        <span><i class="fa-solid fa-cart-shopping"></i></span>
      </a>
      <span class="counter">{{ counter }}</span>
    </div>
  </div>
  <!-- si la clase [class.active] esta en true la dispara sino la esconde-->
  <div class="slide-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="acount">
        <button *ngIf="!profile; else elseBlock" (click)="login()">
          Login
        </button>
        <ng-template #elseBlock>{{ profile?.email }}</ng-template>
      </div>
      <div class="cart">
        <a href="">
          <span><i class="fa-solid fa-cart-shopping"></i></span>
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>

<!--
  Con el counter mostramos cuantos elementos hay en el shopping cart de forma reactiva.
  En el div de acount utilizo un boton para hacer login, Si NO hay profile me muestra el boton Login pero si ya existe uno
  deberiamos tener el profile.email
-->
