/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url(./styles/reset.scss);
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

* {
  font-family: "Quicksand", sans-serif;
}

.products--grid {
  app-product {
    display: flex;
    box-shadow: 10px 5px 5px #c5c3c3;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  app-img {
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 100%;
    }
  }
}
.product-detail {
  .swiper-slide {
    display: flex;
    align-items: center;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.page-product {
  .detail {
    .swiper-images {
      img {
        position: relative;
        top: -50px;
      }
    }
  }
}

.banner--slider {
  app-img {
    img {
      width: 25vw;
    }
  }
}

@media screen and (min-width: 95em) {
  .banner--slider {
    app-img {
      img {
        width: 25vw;
        position: relative;
        // top: -120px;
      }
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 50em) {
  .banner--slider {
    app-img {
      img {
        width: 45vw;
      }
    }
  }
}

@media screen and (min-width: 20em) and (max-width: 40em) {
  .page-product {
    .detail {
      .swiper-images {
        img {
          top: 0;
          height: 50vh;
        }
      }
    }
  }
}
